@model WebApp.ViewModels.Matchdto

@{
    ViewData["Title"] = "Match Detail";
}
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Matches" asp-action="Index">Home</a></li>
        <li><a>Detail</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-light-blue-gradient">
            <div class="col-md-4 gallery">

                @{ if (Model.MatchLogo != null)
                    {
                        var base64 = (Model.MatchLogo == null || !Model.MatchLogo.Any()) ? "" : Convert.ToBase64String(@Model.MatchLogo);
                        <a href="data:image/png;base64,@base64" title="@Model.MatchLogo"><img class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' id="Img" /></a>
                    }
                    else
                    {
                        <a href="/images/no-user-profile-picture-whatsapp.jpg" title="@Model.GroundName"><img class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="Img" /></a>
                        // <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="Img"></div>

                    }
                }

            </div>
            <!-- /.widget-user-image -->
            <h4>@Html.DisplayFor(model => model.HomeTeam)</h4>
            <label>vs</label>
            <h4>@Html.DisplayFor(i => i.OppponentTeam)</h4>
            <h4>@Html.DisplayFor(i => i.DateOfMatch)</h4>


        </div>

        <div class="col-md-12 bg-light-blue-active">
            <h3>Match Details<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BattingModal"><i title="More" data-toggle="tooltip" class="ion ion-more"></i></a></h3>
        </div>
        <dl class="dl-horizontal table-bordered">
            <dt>
                Ground
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GroundName)
            </dd>
            <dt>
                Location
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Place)
            </dd>
            <dt>
                Overs
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MatchOvers)
            </dd>

            <dt>
                Season
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Season)
            </dd>


            <dt>
                Match Type
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MatchType)
            </dd>

            <dt>
                Series
            </dt>
            @if (Model.Series != null)
            {
                <dd>
                    @Html.DisplayFor(model => model.Series)
                </dd>
            }
            else
            {
                <dd>
                    N/A
                </dd>
            }
            <dt>
                Tournament
            </dt>
            @if (Model.Tournament != null)
            {
                <dd>
                    @Html.DisplayFor(model => model.Tournament)
                </dd>
            }
            else
            {
                <dd>
                    N/A
                </dd>
            }
            <dt>
                1st Inning
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeTeam)
            </dd>
            <dt>
                2nd Inning
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OppponentTeam)
            </dd>
            <dt>
                Man of the match
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PlayerOfTheMatch)
            </dd>
            <dt>
                Summary
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Result)
            </dd>
        </dl>





    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/Home/css/photobox.css">
    <script src="~/Home/js/photobox.js"></script>
    <script>
        $(function () {
            $('.gallery a').photobox();
        });
    </script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 120px;
            width: 130px;
            border: 1px solid #bbb;
        }
    </style>
}
