@model WebApp.ViewModels.Summary

@{
    ViewData["Title"] = "Matches";
}

@*<div class="container-fluid">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a>Match</a></li>
        </ol>
    </div>*@
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="container-fluid">
        <div id="bgimg">
            <div id="MatchSummary" class="content" style=" border: 2px solid #000000">
                <div class="row">
                    <div class="center gap fade-down section-heading">
                        <h4 class="main-title"><img id="ScoreExecImg" src="~/images/ScoreExec.png" /></h4>
                        <hr>
                    </div>
                    <div class="col-md-12 pull-center">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @if (Model.Summary2dto.HomeTeamTeamLogo != null)
                            {
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 bg-blue-gradient">
                                    <h4 class="pull-right">@Model.Summary2dto.HomeTeam</h4>
                                    <img id="Img" class="pull-right" src="~/Home/images/Teams/@Model.Summary2dto.HomeTeamTeamLogo" />
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 bg-blue-gradient">
                                    <h4 class="pull-right">@Model.Summary2dto.HomeTeam</h4>
                                    <img id="Img" class="pull-right" src="~/Home/images/Teams/noLogo.png" />
                                </div>
                            }

                            @if (Model.Summary2dto.Type != "Tournament")
                            {
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-warning center">
                                    <h4 class="font">@Model.Summary2dto.Type Match </h4>
                                    <h5>@Model.Summary2dto.GroundName</h5>
                                    <h5 id="matchDate">@Model.Summary2dto.DateOfMatch.ToShortDateString()</h5>
                                </div>
                            }
                            else
                            {

                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-warning center">
                                    <h4 class="pull-center">
                                        @Model.Summary2dto.Type
                                    </h4>
                                    <h5 class="pull-center">@Model.Summary2dto.TournamentName</h5>
                                    <h5>@Model.Summary2dto.Stage</h5>
                                    <h5>@Model.Summary2dto.GroundName</h5>
                                    <h5>@Model.Summary2dto.DateOfMatch.ToShortDateString()</h5>
                                </div>

                            }
                            @if (Model.Summary2dto.OpponentTeamLogo != null)
                            {
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 bg-blue-gradient">
                                    <h4 class="pull-left">@Model.Summary2dto.OppponentTeam</h4>
                                    <img id="Img" class="pull-left" src="~/Home/images/Teams/@Model.Summary2dto.OpponentTeamLogo" />
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 bg-blue-gradient">
                                    <h4 class="pull-left">@Model.Summary2dto.OppponentTeam</h4>
                                    <img id="Img" class="pull-left" src="~/Home/images/Teams/noLogo.png" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
                @*First PArt*@

                <div class="col-md-6">
                    <div class="col-md-12 bg-blue-gradient">
                        <h2><i class="flaticon-cricket-14"></i>@Model.Summary2dto.HomeTeamScore/@Model.Summary2dto.HomeTeamWickets</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.HomeTeamBatting.Count != 0)
                            {
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in Model.HomeTeamBatting)
                                        {
                                            <tr>
                                                <td>@item.HomeTeamBatsman</td>
                                                @if (item.HowOut == 4 || item.HowOut == 8)
                                                {
                                                    <td>@item.Runs<i class="fa fa-asterisk" style="color: black" aria-hidden="true"></i> (@item.Balls)</td>
                                                }
                                                else
                                                {
                                                    <td>@item.Runs (@item.Balls)</td>
                                                }


                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                            else
                            {

                                <h4>Record not found</h4>
                            }

                        </div>
                    </div>
                    <div class="col-md-12 bg-green-gradient">
                        <h4><i class="flaticon-cricket-21"></i> Overs @Model.Summary2dto.HomeTeamOvers </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.OppTeamBowling.Count != 0)
                            {
                                <table class="table  table-striped">
                                    <tbody>
                                        @foreach (var item in Model.OppTeamBowling)
                                        {
                                            <tr>
                                                <td>@item.OppTeamBowler</td>
                                                <td>@item.Wicket-@item.Runs</td>
                                                <td>@item.Overs overs</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }
                            else
                            {
                                <h4>Record not found</h4>
                            }

                        </div>
                    </div>
                </div>
                @*Second PArt*@
                <div class="col-md-6">

                    <div class="col-md-12 bg-green-gradient">
                        <h2><i class="flaticon-cricket-14"></i>@Model.Summary2dto.OpponentsTeamScore/@Model.Summary2dto.OpponentTeamWickets</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.OppTeamBatting.Count != 0)
                            {
                                <table class="table table-striped">
                                    <tbody>
                                        @foreach (var item in Model.OppTeamBatting)
                                        {
                                            <tr>
                                                <td>@item.OppTeamBatsman</td>
                                                @if (item.HowOut == 4 || item.HowOut == 8)
                                                {
                                                    <td>@item.Runs <i class="fa fa-asterisk" style="color: black" aria-hidden="true"></i> (@item.Balls)</td>
                                                }
                                                else
                                                {
                                                    <td>@item.Runs (@item.Balls)</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h4>Record not found</h4>
                            }

                        </div>\
                    </div>
                    <div class="col-md-12 bg-blue-gradient">
                        <h4><i class="flaticon-cricket-21"></i> Overs @Model.Summary2dto.OppTeamOvers</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.HomeTeamBowling.Count != 0)
                            {
                                <table class="table">
                                    <tbody>
                                        @foreach (var item in Model.HomeTeamBowling)
                                        {
                                            <tr>
                                                <td>@item.HomeTeamBowler</td>
                                                <td>@item.Wicket-@item.Runs</td>
                                                <td>@item.Overs overs</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h4>Record not found</h4>
                            }

                        </div>
                    </div>
                </div>



                <div class="">
                    <div class="col-md-12 bg-warning">
                        <h4>MOTM: @Model.Summary2dto.ManOfTheMatch</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bg-primary">
                        <h4>@Model.Summary2dto.Result</h4>
                    </div>
                </div>


            </div>
        </div>
        <button data-toggle="modal" data-target="#screenShot" class="btn btn-primary" data-dismiss="modal" id="Capture"><i class="fa fa-camera"></i></button>
    </div>
</div>


<div class="hidden" id="screenShotBody"></div>
@*<div id="screenShot" class="modal fade" role="dialog">

        <div class="">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header  bg-light-blue-active">
                    <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <a data-placement="top" onclick="ogShare();" data-dismiss="modal" data-toggle="tooltip" style="cursor:pointer" title="Share"><i class="fas fa-share-alt"></i> <i class="fab fa-facebook-square"></i></a>
                    <div class="container-canvas">
                        <div id="screenShotBody"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>*@


@section Scripts{
    <script src="~/Home/js/html2convas-min.js"></script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=821635978177081&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>

        // Initialize the Facebook JS SDK.
        window.fbAsyncInit = function () {
            FB.init({
                appId: '821635978177081',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.1'
            });

            // Put additional init code here
        };

        // Load the Facebook JS SDK Asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Custom function to call when user initiates a share

        function ogShare() {
            var canvas = document.querySelector('#screenShotBody > canvas');
            var dataURI = canvas.toDataURL();
            debugger; var imgdata = dataURI.match(/data:(image\/.+);base64,(.+)/);

            var date = document.getElementById("matchDate").innerText;
            var mydate = new Date(date);
            var month = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"][mydate.getMonth()];
            var day = mydate.getDate();
            var fileName = day + month + '' + mydate.getFullYear();


            console.log(fileName);

            $.ajax({
                url: "/Matches/ScreenShot?",
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    baseUrl: imgdata[2],
                    fileName: fileName
                }),
                success: function (url) {
                    console.log(url);
                    fb(url)
                },
                fail: function () {
                }
            })


            //$.ajax({
            //    type: "POST",
            //    //data: jQuery.param({ baseUrl: imgdata, fileName: fileName }) ,
            //    //data: '{"baseUrl":"' + dataURI + '"}',
            //    dataType: "json",
            //    url: "/Matches/ScreenShot?" + $.param({
            //        baseUrl: dataURI,
            //        fileName: fileName
            //    }),
            //    processData: false,
            //    contentType: false,
            //    success: function (url) {
            //        fb(url)
            //    },
            //    fail: function () {
            //    }
            //})


        }

        function fb(url) {
            FB.ui({
                method: 'share_open_graph',
                action_type: 'og.likes',
                //  picture: image.src,
                action_properties: JSON.stringify({
                    object: url
                })
            }, function (response) {
                // Debug response (optional)
                console.log(response);
            });
        }

        $('#Capture').click(function () {
            html2canvas(document.querySelector("#MatchSummary")).then(canvas => {
                document.getElementById("screenShotBody").appendChild(canvas);
                ogShare();
            });
        });

        $('#close').click(function () {

            document.getElementById("screenShotBody").innerHTML = "";
        });

    </script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 100px;
            width: 100px;
        }


        #ScoreExecImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 70px;
            width: 270px;
        }
        body {
            font-weight: bold;
        }

        table {
            background-color: #FFFFFF;
        }
    </style>
}
