@model PaginatedList<WebApp.ViewModels.Playersdto>

<table id="PlayerTable" class="table table-bordered table-striped">
    <thead class="bg-blue-active">
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Birth
            </th>
            <th>
                Team
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.Player_Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a data-placement="top" data-toggle="tooltip" title="Player Profile" asp-controller="Players" asp-action="PlayerStatistics" asp-route-playerId="@item.PlayerId"><i class="fa fa-user"></i></a>
                        <a data-toggle="tooltip" title="Edit Mode" asp-action="Edit" asp-route-id="@item.PlayerId"><i class="fas fa-edit"></i></a>
                        <a data-placement="top" data-toggle="tooltip" style="cursor:pointer" title="Delete"><i data-toggle="modal" data-target="#DeleteModal" class="fas fa-trash-alt" onclick="Delete(@item.PlayerId)"></i></a>
                        <a data-placement="top" data-toggle="tooltip" title="Past Record" asp-controller="PlayerPastRecord" asp-action="PastRecord" asp-route-playerId="@item.PlayerId"><i class="fa fa-history"></i></a>

                    }
                    else
                    {
                        <a data-placement="top" data-toggle="tooltip" title="Player Profile" asp-controller="Players" asp-action="PlayerStatistics" asp-route-playerId="@item.PlayerId"><i class="fa fa-user"></i></a>
                        <a data-placement="top" data-toggle="tooltip" style="cursor:pointer" title="Delete"><i data-toggle="modal" data-target="#PlayerStatistics" class="fas fa-trash-alt" onclick="playerStatistics(@item.PlayerId)"></i></a>
                    }

                  
                </td>
            </tr>
        }
    </tbody>
</table>