@model CricketApp.Domain.Player

@{
    ViewData["Title"] = "Player Profile";
}

<h2>PLayer Profile</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BattingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BattingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BowlingStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BowlingStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
