@model WebApp.ViewModels.PlayerStatisticsdto

@{
    ViewData["Title"] = "Player Profile";
}



<div class="container-fluid">

    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-light-blue-gradient">
            <div class="col-md-4 gallery">

                @{ if (Model.PlayerImage != null)
                    {
                        var base64 = (Model.PlayerImage == null || !Model.PlayerImage.Any()) ? "" : Convert.ToBase64String(@Model.PlayerImage);
                        <a style='background-image: url("data:image/png;base64,@base64");'  href="data:image/png;base64,@base64" title="@Model.PlayerName" data-toggle="tooltip"><img class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' id="PlayerImg" /></a>
                    }
                    else
                    {
                        <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="PlayerImg"></div>

                    }
                }

            </div>
            <!-- /.widget-user-image -->
            <h2>@Html.DisplayFor(model => model.PlayerName)</h2>
            <h4>@Html.DisplayFor(i => i.TeamName)</h4>

        </div>
        <br />
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>
                    Playing Role
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PlayerRole)
                </dd>
                <dt>
                    Batting Style
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.BattingStyle)
                </dd>
                <dt>
                    Bowling Style
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.BowlingStyle)
                </dd>
                <dt>
                    Age
                </dt>
                @{
                    var CRD = DateTime.Now.Date;
                    var DOB = Model.DOB;
                    var totalMonths = (CRD.Year - DOB.Year) * 12 + CRD.Month - DOB.Month;
                    totalMonths += CRD.Day < DOB.Day ? -1 : 0;
                    var years = totalMonths / 12;
                    var months = totalMonths % 12;
                    var days = CRD.Subtract(DOB.AddMonths(totalMonths)).Days;
                    <dd style="width: 100%">

                        @years years @months months @days days
                    </dd>

                }


                <dt>
                    Major Team
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.TeamName)
                </dd>
            </dl>
        </div>
        <div class="box-footer">
            <div class="col-md-4">
                <div class="col-md-12 bg-light-blue-active">
                    <h3>Batting<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BattingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h3>
                </div>
                <dl class="dl-horizontal table-bordered">
                    <dt>
                        Matches
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalMatch)
                    </dd>
                    <dt>
                        Innings
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalInnings)
                    </dd>
                    <dt>
                        Total Runs
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalBatRuns)
                    </dd>
                    <dt>
                        Balls Faced
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalBatBalls)
                    </dd>
                    <dt>
                        50s
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOf50s)
                    </dd>
                    <dt>
                        100s
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NumberOf100s)
                    </dd>
                    <dt>
                        Avg
                    </dt>
                    @if (string.IsNullOrEmpty(Model.BattingAverage) || Model.BattingAverage == "0")
                    {
                        <dd>
                            N/A
                        </dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.BattingAverage)
                        </dd>
                    }
                    <dt>
                        Strike Rate
                    </dt>
                    @if (string.IsNullOrEmpty(Model.StrikeRate) || Model.StrikeRate == "0")
                    {
                        <dd>
                            N/A
                        </dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.StrikeRate)

                        </dd>
                    }
                    <dt>
                        Best Score
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BestScore)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bg-light-blue-active">
                    <h3>Bowling<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BowlingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h3>
                </div>

                <dl class="dl-horizontal table-bordered">

                    <dt>
                        Overs
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalOvers)
                    </dd>
                    <dt>
                        Wickes
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalWickets)
                    </dd>
                    <dt>
                        Runs
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalBallRuns)
                    </dd>
                    <dt>
                        5Ws
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FiveWickets)
                    </dd>
                    <dt>
                        Maiden
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalMaidens)
                    </dd>
                    <dt>
                        Avg
                    </dt>
                    @if (string.IsNullOrEmpty(Model.BowlingAvg) || Model.BowlingAvg == "0")
                    {
                        <dd>
                            N/A
                        </dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.BowlingAvg)
                        </dd>
                    }
                    <dt>
                        Economy
                    </dt>

                    @if (string.IsNullOrEmpty(Model.Economy) || Model.Economy == "0")
                    {
                        <dd>
                            N/A
                        </dd>
                    }
                    else
                    {
                        <dd>
                            @Html.DisplayFor(model => model.Economy)
                        </dd>
                    }

                    <dt>
                        Best
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BestBowling)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 bg-light-blue-active">
                    <h3>Fielding</h3>
                </div>

                <dl class="dl-horizontal table-bordered">
                    <dt>
                        Catches
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnFieldCatch)
                    </dd>
                    <dt>
                        Stumps
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnFieldStump)
                    </dd>
                    <dt>
                        Run Out
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OnFieldRunOut)
                    </dd>
                </dl>
            </div>

        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div id="BowlingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bowling</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoBowled)
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoCatch)
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoHitWicket)
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoLBW)
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoStump)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div id="BattingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Batting</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetBowled)
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetCatch)
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetHitWicket)
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetLBW)
                    </dd>
                    <dt>
                        Run Out
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetRunOut)
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetStump)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/css/photobox.css">
    <script src="~/js/photobox.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(function () {
            $('.gallery a').photobox();
        });

    </script>
    <style>

        /*dt {
            text-align: left !important;
            margin-left: 2em;
        }*/

        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 140px;
            border: 1px solid #bbb;
        }
    </style>
}
