@model WebApp.ViewModels.TeamDetailsdto

@{
    ViewData["Title"] = "List of Players";
}
<div class="container-fluid">

    <div class="">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-blue-gradient">
                <div class="col-md-4">

                    @{ if (Model.TeamLogo != null)
                        {
                            var base64 = (Model.TeamLogo == null || !Model.TeamLogo.Any()) ? "" : Convert.ToBase64String(@Model.TeamLogo);
                            <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' id="PlayerImg"></div>
                        }
                        else
                        {
                            <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="PlayerImg"></div>

                        }
                    }

                </div>

                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">@Html.DisplayFor(model => model.Team_Name)</h3>
                <h5 class="widget-user-desc">@Html.DisplayFor(model => model.City)</h5>
                <h5 class="widget-user-desc">@Html.DisplayFor(model => model.Place)</h5>

                <h5 class="widget-user-desc">Zone @Html.DisplayFor(model => model.Zone)</h5>
                <a asp-controller="Players" class="btn btn-default" asp-action="Create">Add Player</a>
            </div>
            <br />
            <div class="box-footer">
                <nav class="navbar navbar-light bg-light">
                    @*<div class="form-group">
                        
                    </div>*@


                    @if (Model != null && Model.TeamPlayers.Any())
                    {
                        @foreach (var item in Model.TeamPlayers)
                        {
                            <div class="dl-horizontal">
                                <div class="col-md-2">
                                    <a asp-controller="Players" data-placement="top" data-toggle="tooltip" title="@item.Player_Name" asp-action="PlayerStatistics" asp-route-playerId="@item.PlayerId">
                                        @{
                                            if (item.PlayerLogo != null)
                                            {
                                                var base64 = @item.PlayerLogo == null || !item.PlayerLogo.Any() ? "" : Convert.ToBase64String(@item.PlayerLogo);
                                                <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' onclick="playerStatistics" id="PlayerImg">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="PlayerImg"></div>


                                            }
                                        }
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                No Player Found
                            </h3>
                        </div>

                    }
                </nav>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#AddBtn').click(function () {
                window.location = '/Players/Create'
            });
        });

        $(function () {
            $('#playerStatistics').click(function () {
                window.location = '/Players/PlayerStatistics'
            });
        });
    </script>
    <style>
        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 140px;
            border: 1px solid #bbb;
        }
    </style>

}
