@model WebApp.ViewModels.PlayerStatisticsdto

@{
    ViewData["Title"] = "Player Profile";
}



<div class="container-fluid">
    <div class="col-md-8">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-light-blue-gradient">
                <ul class="list-inline">
                    <li>
                        <div align="center" valign="top" class="textContent">
                            <img id="logo" style="margin-bottom: 2em;" alt="ScoreExec" src="~/images/ScoreExec copy.png" />
                        </div>
                    </li>
                    <li><h2>@Html.DisplayFor(model => model.PlayerName)</h2></li>

                    <li><h4>@Html.DisplayFor(i => i.TeamName)</h4></li>

                </ul>
            </div>
            <div class="col-md-4 gallery">

                @{ if (Model.PlayerImage != null)
                    {
                        var base64 = (Model.PlayerImage == null || !Model.PlayerImage.Any()) ? "" : Convert.ToBase64String(@Model.PlayerImage);
                        <a style='background-image: url("data:image/png;base64,@base64");' href="data:image/png;base64,@base64" title="@Model.PlayerName" data-toggle="tooltip"><img class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' id="PlayerImg" /></a>
                    }
                    else
                    {
                        <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="PlayerImg"></div>

                    }
                }

            </div>
            <div class=col-md-8>
                <div class="row">
                    <div class="border-left">
                        <dl class="dl-horizontal">
                            <dt>
                                Playing Role
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PlayerRole)
                            </dd>
                            <dt>
                                Batting Style
                            </dt>
                            <dd style="width: 100%">
                                @Html.DisplayFor(model => model.BattingStyle)
                            </dd>
                            <dt>
                                Bowling Style
                            </dt>
                            <dd style="width: 100%">
                                @Html.DisplayFor(model => model.BowlingStyle)
                            </dd>
                            <dt>
                                Age
                            </dt>
                            @{
                                var Today = DateTime.Now.Date;
                                var DOB = Model.DOB;
                                var totalMonths = (Today.Year - DOB.Year) * 12 + Today.Month - DOB.Month;
                                totalMonths += Today.Day < DOB.Day ? -1 : 0;
                                var years = totalMonths / 12;
                                var months = totalMonths % 12;
                                var days = Today.Subtract(DOB.AddMonths(totalMonths)).Days;
                                <dd style="width: 100%">

                                    @years years @months months @days days
                                </dd>

                            }


                            <dt>
                                Major Team
                            </dt>
                            <dd style="width: 100%">
                                @Html.DisplayFor(model => model.TeamName)
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
            <!-- /.widget-user-image -->


            <div class="box-footer">

                <!-- /.row -->
            </div>
            <div class="row">
                <div class="box-footer">
                    <div class="col-md-12 bg-light-blue-active">
                        <h3>Batting<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BattingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h3>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Matches</th>
                                <th>Innings</th>
                                <th>Runs</th>
                                <th>Balls</th>
                                <th>50s</th>
                                <th>100s</th>
                                <th>Avg</th>
                                <th>St.Rate</th>
                                <th>Best </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@Html.DisplayFor(model => model.TotalMatch)</td>
                                <td>@Html.DisplayFor(model => model.TotalInnings)</td>
                                <td>@Html.DisplayFor(model => model.TotalBatRuns)</td>
                                <td>@Html.DisplayFor(model => model.TotalBatBalls)</td>
                                <td>@Html.DisplayFor(model => model.NumberOf50s)</td>
                                <td>@Html.DisplayFor(model => model.NumberOf100s)</td>
                                @if (string.IsNullOrEmpty(Model.BattingAverage) || Model.BattingAverage == "0")
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(model => model.BattingAverage)
                                    </td>
                                }
                                @if (string.IsNullOrEmpty(Model.StrikeRate) || Model.StrikeRate == "0")
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(model => model.StrikeRate)

                                    </td>
                                }
                                <td>@Html.DisplayFor(model => model.BestScore)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 bg-light-blue-active">
                        <h3>Bowling<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BowlingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h3>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Overs</th>
                                <th>Wickets</th>
                                <th>Runs</th>
                                <th>5ws</th>
                                <th>Maiden</th>
                                <th>Avg</th>
                                <th>Econ</th>
                                <th>Best</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.TotalOvers)</td>
                                <td>@Html.DisplayFor(model => model.TotalWickets)</td>
                                <td>@Html.DisplayFor(model => model.TotalBallRuns)</td>
                                <td>@Html.DisplayFor(model => model.FiveWickets)</td>
                                <td>@Html.DisplayFor(model => model.TotalMaidens)</td>
                                @if (string.IsNullOrEmpty(Model.BowlingAvg) || Model.BowlingAvg == "0")
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(model => model.BowlingAvg)
                                    </td>
                                }
                                @if (string.IsNullOrEmpty(Model.Economy) || Model.Economy == "0")
                                {
                                    <td>
                                        N/A
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(model => model.Economy)
                                    </td>
                                }
                                <td>@Html.DisplayFor(model => model.BestBowling)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12 bg-light-blue-active">
                        <h3>Fielding</h3>
                    </div>

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Catches</th>
                                <th>Stumps</th>
                                <th>Run Out</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.DoCatch)</td>
                                <td>@Html.DisplayFor(model => model.DoStump)</td>
                                <td>@Html.DisplayFor(model => model.OnFieldRunOut)</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!-- /.widget-user -->
    </div>
</div>
<div id="BowlingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bowling</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoBowled)
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoCatch)
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoHitWicket)
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoLBW)
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DoStump)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div id="BattingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Batting</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetBowled)
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetCatch)
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetHitWicket)
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetLBW)
                    </dd>
                    <dt>
                        Run Out
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetRunOut)
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GetStump)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/css/photobox.css">
    <script src="~/js/photobox.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(function () {
            $('.gallery a').photobox();
        });

    </script>
    <style>

        /*dt {
            text-align: left !important;
            margin-left: 2em;
        }*/

        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 120px;
            width: 120px;
            border: 1px solid #bbb;
        }

        #logo {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 34px;
            width: 170px;
        }
    </style>
}
