@model WebApp.ViewModels.TeamDetailsdto

@{
    ViewData["Title"] = "Team Players";
}
<br />
<br />
<br />
<div class="container-fluid">
    <div class='col-md-1'></div>
    <div class="col-md-10">
        <div class="row">
            <center>
                <img src="~/Home/images/Teams/@Model.FileName" alt="Avatar" style="width:100px">
                <div style="color: darkgrey; font-size:30px"><b>@Html.DisplayFor(model => model.Team_Name)</b></div>

                <div style="color: black; font-size:15px"><b>Zone @Html.DisplayFor(model => model.Zone)</b></div>
            </center>
            <!-- /.widget-user-image -->

        </div>
        <br />
        <div class="box-footer">
            <nav class="navbar navbar-light bg-light">
                @*<div class="form-group">

                    </div>*@


                @if (Model != null && Model.TeamPlayers.Any())
                {
                    @foreach (var item in Model.TeamPlayers)
                    {
                        <div class="">
                            <div class="col-md-2 ">
                                <a data-toggle="modal" data-target="#playerStatistics" data-placement="top" onclick="statistics(@item.PlayerId)" class="pull-left bounce-in"  >
                                    <center>
                                        <img data-toggle="tooltip" title="@item.Player_Name" class="bounce-in" style="cursor: pointer; width:90px" src="~/Home/images/Players/@item.FileName">
                                        <div class="media-body fade-up"><b>@item.Player_Name</b></div>
                                    </center>
                                </a>
                            </div>
                        </div>
                        <div></div>
                    }
                }
                else
                {
                    <div class="wizard-header">
                        <h3 class="wizard-title">
                            No Player Found
                        </h3>
                    </div>

                }
            </nav>
        </div>
    </div>
    <!-- /.widget-user -->
</div>

<div class='col-md-1'></div>

<div id="screenShot" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-canvas">
                    <div id="screenShotBody"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="playerStatistics" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="border: solid">
                <div id="screen">
                    <center>
                    </center>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="widget-user-image">
                                    <img class="img-circle" id="target">
                                </div>
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" id="prettyPhoto" href="~/Home/images/Players/Ahmed Raza.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul>
                                    <li> <b id="playerName"></b></li>
                                    <li> <span class="description-header">Playing Role</span> <b id="playingRole"></b></li>
                                    <li> <span class="description-header">Batting Style</span> <b id="battingStyle"></b></li>
                                    <li> <span class="description-header">Bowling Style</span> <b id="bowlingStyle"></b></li>
                                    <li> <span class="description-header">Birth</span> <b id="age"></b></li>
                                    <li> <b id="teamName"></b></li>
                                </ul>
                            </div>
                        </div>
                    </div>



                    <!-- /.widget-user -->
                    <div style="background-color: maroon; color:white">
                        <h4>Batting<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BattingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>M</th>
                                            <th>In</th>
                                            <th>R</th>
                                            <th>B</th>
                                            <th>50</th>
                                            <th>100</th>
                                            <th>Avg</th>
                                            <th>SR</th>
                                            <th>Hs</th>
                                            <th>4s</th>
                                            <th>6s</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td><b id="totalMatch"></b></td>
                                            <td><b id="totalInnings"></b></td>
                                            <td><b id="totalBatRuns"></b></td>
                                            <td><b id="totalBatBalls"></b></td>
                                            <td><b id="numberOf50s"></b></td>
                                            <td><b id="numberOf100s"></b></td>
                                            <td><b id="battingAverage"></b></td>
                                            <td><b id="strikeRate"></b></td>
                                            <td><b id="bestScore"></b></td>
                                            <td><b id="totalFours"></b></td>
                                            <td><b id="totalSixes"></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: maroon; color:white">
                        <h4>Bowling<a data-placement="top" style="cursor: pointer" data-toggle="modal" data-target="#BowlingModal"><i title="More" data-toggle="tooltip" class="fa fa-arrow-circle-down"></i></a></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>O</th>
                                            <th>W</th>
                                            <th>R</th>
                                            <th>5w</th>
                                            <th>M</th>
                                            <th>Avg</th>
                                            <th>Eco</th>
                                            <th>BBI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b id="totalOvers"></b></td>
                                            <td><b id="totalWickets"></b></td>
                                            <td><b id="totalBallRuns"></b></td>
                                            <td><b id="fiveWickets"></b></td>
                                            <td><b id="totalMaidens"></b></td>
                                            <td><b id="bowlingAvg"></b></td>
                                            <td><b id="economy"></b></td>
                                            <td><b id="bestBowling"></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: maroon; color:white">
                        <h4>Fielding</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Catches</th>
                                            <th>Stumps</th>
                                            <th>Run Out</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b id="onFieldCatch"></b></td>
                                            <td><b id="onFieldStump"></b></td>
                                            <td><b id="onFieldRunOut"></b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button data-toggle="modal" data-target="#screenShot" class="btn btn-primary" data-dismiss="modal" id="Capture"><i class="fa fa-camera"></i></button>
                <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>
<div id="BattingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Batting</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        <span id="getBowled"></span>
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        <span id="getCatch"></span>
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        <span id="getHitWicket"></span>
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        <span id="getLBW"></span>
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        <span id="getStump"></span>
                    </dd>
                    <dt>
                        Run Out
                    </dt>
                    <dd>
                        <span id="getRunOut"></span>
                    </dd>
                    <dt>
                        Not Out
                    </dt>
                    <dd>
                        <span id="totalNotOut"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div id="BowlingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bowling</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Bowled
                    </dt>
                    <dd>
                        <span id="doBowled"></span>
                    </dd>
                    <dt>
                        Catch
                    </dt>
                    <dd>
                        <span id="doCatch"></span>
                    </dd>
                    <dt>
                        Hit Wicket
                    </dt>
                    <dd>
                        <span id="doHitWicket"></span>
                    </dd>
                    <dt>
                        Lbw
                    </dt>
                    <dd>
                        <span id="doLBW"></span>
                    </dd>
                    <dt>
                        Stump
                    </dt>
                    <dd>
                        <span id="doStump"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Home/js/html2convas-min.js"></script>
    <script>

        $("#playerStatistics").on("hidden.bs.modal", function () {
            document.getElementById("name").innerHTML = "";
            document.getElementById("teamName").innerHTML = "";

            document.getElementById("battingStyle").innerHTML = "";
            document.getElementById("playingRole").innerHTML = "";
            document.getElementById("bowlingStyle").innerHTML = "";
            document.getElementById("age").innerHTML = "";
            //batting
            document.getElementById("totalMatch").innerHTML = "";
            document.getElementById("totalInnings").innerHTML = "";
            document.getElementById("totalBatRuns").innerHTML = "";
            document.getElementById("totalBatBalls").innerHTML = "";
            document.getElementById("numberOf50s").innerHTML = "";
            document.getElementById("numberOf100s").innerHTML = "";
            document.getElementById("battingAverage").innerHTML = "";
            document.getElementById("strikeRate").innerHTML = "";
            document.getElementById("bestScore").innerHTML = "";
            document.getElementById("totalFours").innerHTML = "";
            document.getElementById("totalSixes").innerHTML = "";

            //Bowling
            document.getElementById("totalOvers").innerHTML = "";
            document.getElementById("totalWickets").innerHTML = "";
            document.getElementById("totalBallRuns").innerHTML = "";
            document.getElementById("fiveWickets").innerHTML = "";
            document.getElementById("totalMaidens").innerHTML = "";
            document.getElementById("bowlingAvg").innerHTML = "";
            document.getElementById("economy").innerHTML = "";
            document.getElementById("bestBowling").innerHTML = "";

            //Fielding
            document.getElementById("onFieldCatch").innerHTML = "";
            document.getElementById("onFieldStump").innerHTML = "";
            document.getElementById("onFieldRunOut").innerHTML = "";

            //MoreBating
            document.getElementById("getBowled").innerHTML = "";
            document.getElementById("getCatch").innerHTML = "";
            document.getElementById("getHitWicket").innerHTML = "";
            document.getElementById("getLBW").innerHTML = "";
            document.getElementById("getStump").innerHTML = "";
            document.getElementById("getRunOut").innerHTML = "";
            document.getElementById("totalNotOut").innerHTML = "";

            //MoreBowling
            document.getElementById("doBowled").innerHTML = "";
            document.getElementById("doCatch").innerHTML = "";
            document.getElementById("doHitWicket").innerHTML = "";
            document.getElementById("doLBW").innerHTML = "";
            document.getElementById("doStump").innerHTML = "";
            $('#target').attr('src', `/images/user.png`);
        });

        $(function () {
            $('#AddBtn').click(function () {
                window.location = '/Players/Create'
            });
        });


        $('#Capture').click(function () {
            document.getElementById("screenShotBody").innerHTML = "";
            html2canvas(document.querySelector("#screen")).then(canvas => {
                document.getElementById("screenShotBody").appendChild(canvas);
            });
        });
        $('#close').click(function () {

            document.getElementById("screenShotBody").innerHTML = "";
        });

        let statistics = function (playerId) {
            var header = new Headers();
            header.append("content-type", "application/json");

             fetch(`/Players/PlayerStatistics/${playerId}`, {
                credentials: 'same-origin',
                headers: header
            })
                .then(response => {
                    if (response.ok) {
                        response.json()
                            .then(json => {
                                document.getElementById("playerName").innerHTML = json.playerName;
                                document.getElementById("teamName").innerHTML = json.teamName;

                                document.getElementById("battingStyle").innerHTML = json.battingStyle;
                                document.getElementById("playingRole").innerHTML = json.playerRole;
                                document.getElementById("bowlingStyle").innerHTML = json.bowlingStyle;

                                var today = new Date();
                                var DOB = new Date(json.dob);
                                var totalMonths = (today.getFullYear() - DOB.getFullYear()) * 12 + today.getMonth() - DOB.getMonth();
                                totalMonths += today.getDay() < DOB.getDay() ? -1 : 0;
                                var years = today.getFullYear() - DOB.getFullYear();
                                var days;
                                var months;

                                if (DOB.getDate() > today.getDate()) {
                                    months = (totalMonths % 12);
                                    if (months == 0)
                                        months = 11;
                                    var x = today.getMonth();
                                    switch (x) {
                                        case 1:
                                        case 3:
                                        case 5:
                                        case 7:
                                        case 8:
                                        case 10:
                                        case 12:
                                            {
                                                var a = DOB.getDate() - today.getDate();
                                                days = 31 - a;
                                                break;
                                            }
                                        default: {
                                            var a = DOB.getDate() - today.getDate();
                                            days = 30 - a;
                                            break;
                                        }

                                    }

                                }
                                else {
                                    days = today.getDate() - DOB.getDate();
                                    if (DOB.getMonth() === today.getMonth())
                                        months = (totalMonths % 12);
                                    else
                                        months = (totalMonths % 12) + 1;
                                }

                                document.getElementById("age").innerHTML = years + ' years ' + months + ' months ' + days + ' days';

                                //batting
                                document.getElementById("totalMatch").innerHTML = json.totalMatch;
                                document.getElementById("totalInnings").innerHTML = json.totalInnings;
                                document.getElementById("totalBatRuns").innerHTML = json.totalBatRuns;
                                document.getElementById("totalBatBalls").innerHTML = json.totalBatBalls;
                                document.getElementById("numberOf50s").innerHTML = json.numberOf50s;
                                document.getElementById("numberOf100s").innerHTML = json.numberOf100s;
                                document.getElementById("battingAverage").innerHTML = json.battingAverage || 'N/A';
                                document.getElementById("strikeRate").innerHTML = json.strikeRate || 'N/A';
                                document.getElementById("bestScore").innerHTML = json.hightScore;
                                document.getElementById("totalFours").innerHTML = json.totalFours;
                                document.getElementById("totalSixes").innerHTML = json.totalSixes;

                                //Bowling
                                document.getElementById("totalOvers").innerHTML = json.totalOvers;
                                document.getElementById("totalWickets").innerHTML = json.totalWickets;
                                document.getElementById("totalBallRuns").innerHTML = json.totalBallRuns;
                                document.getElementById("fiveWickets").innerHTML = json.fiveWickets;
                                document.getElementById("totalMaidens").innerHTML = json.totalMaidens;
                                document.getElementById("bowlingAvg").innerHTML = json.bowlingAvg || 'N/A';
                                document.getElementById("economy").innerHTML = json.economy || 'N/A';
                                document.getElementById("bestBowling").innerHTML = json.bestBowlingFigureRuns + '/' + json.mostWickets || 'N/A';

                                //Fielding
                                document.getElementById("onFieldCatch").innerHTML = json.onFieldCatch;
                                document.getElementById("onFieldStump").innerHTML = json.onFieldStump;
                                document.getElementById("onFieldRunOut").innerHTML = json.onFieldRunOut;

                                //MoreBating
                                document.getElementById("getBowled").innerHTML = json.getBowled;
                                document.getElementById("getCatch").innerHTML = json.getCatch;
                                document.getElementById("getHitWicket").innerHTML = json.getHitWicket;
                                document.getElementById("getLBW").innerHTML = json.getLBW;
                                document.getElementById("getStump").innerHTML = json.getStump;
                                document.getElementById("getRunOut").innerHTML = json.getRunOut;
                                document.getElementById("totalNotOut").innerHTML = json.totalNotOut;

                                //MoreBowling
                                document.getElementById("doBowled").innerHTML = json.doBowled;
                                document.getElementById("doCatch").innerHTML = json.doCatch;
                                document.getElementById("doHitWicket").innerHTML = json.doHitWicket;
                                document.getElementById("doLBW").innerHTML = json.doLBW;
                                document.getElementById("doStump").innerHTML = json.doCatch;

                                $('#target').attr('src', `/Home/images/Players/${json.fileName}`);
                                var prettyPhotoSrc = $("#prettyPhoto").attr("href");
                                $("#prettyPhoto").attr("href", prettyPhotoSrc.substr(0, prettyPhotoSrc.lastIndexOf('/') + 1) + json.fileName);



                            })
                            .catch(err => {
                                console.error(err);
                            })
                    }
                })
                .catch(err => {
                    console.error(err);
                });

        };
    </script>
    <style>
        /*#PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 140px;
            border: 1px solid #bbb;
            cursor: pointer;
        }*/
        img {
            border-radius: 50%;
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 80px;
            width: 100px;
        }
        #target {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 80px;
            width: 100px;
        }
        body {
            background-image: url("/Home/images/bg/bg1.jpg");
            background-size: 100% 100%;
            opacity: 0.90;
        }
        .modal-dialog {
            height: 500px;
        }
    </style>

}
