@model WebApp.ViewModels.HomeScreendto
<!DOCTYPE html>
<html lang="en">
<head>

</head><!--/head-->
<body>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <span class="pe-7s-gleam bounce-in"><img class="img-responsive" src="~/images/ScoreExec Red .png" style="width: 100%; height:25%;"></span>
                                    <h2 class="boxed animation animated-item-1 fade-down">Next Stop Cricket</h2>
                                    @*<p class="boxed animation animated-item-2 fade-up">Next Stop Cricket</p>*@
                                    <br>
                                    <a class="btn btn-md animation bounce-in">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">


        <section id="blog" class="white">
            <div class="container">
                <div class="center gap fade-down section-heading">
                    <div class="gap"></div>
                    <h2 class="main-title">Recently Played</h2>
                    <hr>
                </div>
                <div class="gap"></div>
                <div class="row">
                    
                        @foreach (var item in Model.RecentMatches)
                        {
                          
                                <div class="col-md-4">
                                    <div class="post">
                                        <div class="content ">
                                            @if (item.Type == "Fiendly")
                                            {
                                                <h2 class="post-title ">@item.Type</h2>
                                            }
                                            else
                                            {
                                                <h2 class="post-title ">@item.Tournament</h2>
                                            }

                                            <div class="post-img-content ">
                                                <div class="form-inline table-bordered">

                                                    <ul class="list-inline" style="padding-top: 10px; padding-left:10px">
                                                        <li>
                                                            <img class="img-responsive" id="Img" src="~/Home/images/Teams/@item.HomeTeamTeamLogo">
                                                        </li>
                                                        <li>  <strong> @item.HomeTeam </strong> @item.HomeTeamScore/@item.HomeTeamWickets</li>
                                                    </ul>
                                                    <ul class="list-inline" style="padding-top: 10px; padding-left:10px">
                                                        <li>

                                                            <img class="img-responsive" id="Img" src="~/Home/images/Teams/@item.OpponentTeamLogo">

                                                        </li>
                                                        <li>
                                                            <strong> @item.OppponentTeam </strong> @item.OpponentsTeamScore/@item.OppenentTeamWickets
                                                        </li>
                                                    </ul>
                                                    <div class="col-md-12" style="padding-top:10px">
                                                        <b >@item.Summary</b>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="author">
                                                <i class="fa fa-user"></i> By <b> @item.UserName</b> | <i class="fa fa-clock-o"></i> <b><time datetime="2014-01-20">@item.DateOfMatch.ToString("dddd, dd MMMM yyyy")</time></b>
                                            </div>
                                            <div class="read-more-wrapper">
                                                <a asp-controller="MatchSummary" asp-action="Index" asp-route-homeTeamId="@item.HomeTeamId" asp-route-matchId="@item.MatchId" asp-route-oppTeamId="@item.OppTeamId" class="btn btn-outlined btn-primary">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                        }

                
                </div>
                <div class="gap"></div>
            </div>
        </section>
        <section id="services" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">Stuff We Do</h2>
                            <hr>
                            <p>What we provide</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-camera fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Team</h3>
                                <p>Add or Register your team in score Execcutive free and start your cricket from today</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-thumbs-o-up fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Record Maintaing</h3>
                                <p>Score Exececutive provide you an interactive and user friendly environment to maintain your cricket matches record. Now play digital cricket.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-ticket fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Players Record</h3>
                                <p>We create each player profile batting bowling fielding from every aspects</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-star fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Live Scoring</h3>
                                <p>Ignore you scoring book or anything else, Score Exececutive will provide live scoring app soon.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-cogs fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Live Streaming</h3>
                                <p>You match will become professional , here you add ap your match with live Score Exec moile app and we display live streaming on our website</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-google-plus fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Software Support</h3>
                                <p>We assure to secure your data for life time aspects. Score Executive genertas PDF and give you sharing option of Social Media. we also provide user backup for our premium customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">Marketing</h2>
                            <hr>
                            <p>We market you</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tile-progress tile-red bounce-in">
                            <div class="tile-header">
                                <h3>Top 10 Batsman</h3>
                                <span></span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="65.5%" style="width: 65.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">65.5</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-cyan bounce-in">
                            <div class="tile-header">
                                <h3>Top 10 Bowlers</h3>
                                <span></span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="98.5%" style="width: 98.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">98.5</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-primary bounce-in">
                            <div class="tile-header">
                                <h3>Most Runs</h3>
                                <span></span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="90%" style="width: 90%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">90</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-pink bounce-in">
                            <div class="tile-header">
                                <h3>Most Wickets</h3>
                                <span></span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="10%" style="width: 10%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">10</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                <div class="gap"></div>
            </div>
        </section>


        <section id="single-quote" class="divider-section">
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class='col-md-offset-2 col-md-8 fade-up'>
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-responsive" src="~/images/Faraz 2.png" style="width: 100px;height:100px;">
                                            </div>
                                            <div class="col-sm-9">
                                                <blockquote> <p>Everyday is a new day and this could be your day</p></blockquote>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
            </div>
        </section>



        <section id="stats" class="divider-section">
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="flaticon-cricket-helmet bounce-in"></span></span>
                            <h1><span class="counter">@Model.TotalAchievedto.Players</span></h1>
                            <h3>Players</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="flaticon-cricket-2 bounce-in"></span></span>
                            <h1><span class="counter">@Model.TotalAchievedto.Teams</span></h1>
                            <h3>Teams</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="flaticon-cricket-ground-1 bounce-in"></span></span>
                            <h1><span class="counter">@Model.TotalAchievedto.Tournaments</span></h1>
                            <h3>Tournaments</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="flaticon-bar-chart bounce-in"></span></span>
                            <h1><span class="counter">@Model.TotalAchievedto.Records</span></h1>
                            <h3>Records</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </section>

        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Partners</h2>
                    <hr>
                    <p>You can be one of those</p>
                </div>
                <ul class="portfolio-filter fade-down center">
                    <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Teams</a></li>
                    <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Schools</a></li>
                    <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Organizations</a></li>
                </ul><!--/#portfolio-filter-->

                <ul class="portfolio-items col-3 isotope fade-up">
                    <li class="portfolio-item apps isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio//Gcc.JPG" alt="">
                            <h5>Gulzar Cricket Club</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio//Gcc.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/ASL.JPG" alt="">
                            <h5>Ayesha School of Learning</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/ASL.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap design isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/poc.JPG" alt="">
                            <h5>Pole Of Cricket</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/poc.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla design apps isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/Pak Shaheen.JPG" alt="">
                            <h5>Pak Shaheen Cricket Club</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/Pak Shaheen.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla apps isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/inqilab.JPG" alt="">
                            <h5>Inqilab Cricket Club</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/inqilab.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress nature isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/ALI.JPG" alt="">
                            <h5>Ali Intermediate College</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/ALI.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla design apps isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/orientstar.JPG" alt="">
                            <h5>Orient Star</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/orientstar.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/you.JPG" alt="">
                            <h5>You</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/you.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="~/Home/images/portfolio/you.JPG" alt="">
                            <h5>You</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="~/Home/images/portfolio/you.JPG" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                </ul>
            </div>
        </section>

        <section id="about-us" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">A Little About Us</h2>
                            <hr>
                            <p>Why Score Executive?</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p>Score Executive is a complete ERP solution for your cricket record maintaining. We are commited to secure and protect your data and give you the best result. You can shre complete statistics of any player, match records, Score Cards Match Schedule Pictures. Score Exec is cricket management web app portal where we market the local clubs on root level and different cricket teams to maintain their records and statistics</p>
                        <p>Score Exec is not only provide web portal also you can download our mobile app Android and IOS both, Whats new in mobile app? Score Exec provides you live scoring and directly post your data to server, which further help you to maintain your record anywhere anytime</p>
                    </div>
                    <div class="col-md-4 fade-up">

                    </div>
                </div>
                <div class="gap"></div>
                <div class="row fade-up">
                    <div class="col-md-6">
                        <div class="testimonial-list-item">
                            <img class="pull-left img-responsive quote-author-list" src="~/Home/images/portfolio/zia.JPG">
                            <blockquote>
                                <p>Right Handed Batsman</p>
                                <small>Zia Alvi<cite title="Source Title">Gulzar CC</cite></small>
                            </blockquote>
                        </div>
                        <div class="testimonial-list-item">
                            <img class="pull-left img-responsive quote-author-list" src="~/Home/images/portfolio/Jawad2.JPG">
                            <blockquote>
                                <p>All-Rounder</p>
                                <small>Jawad Siddqui <cite title="Source Title">Gulzar CC</cite></small>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial-list-item">
                            <img class="pull-left img-responsive quote-author-list" src="~/Home/images/portfolio/Ahmedullah.jpg">
                            <blockquote>
                                <p>Bowling All-Rounder</p>
                                <small>Ahmedullah <cite title="Source Title">Gulzar CC</cite></small>
                            </blockquote>
                        </div>
                        <div class="testimonial-list-item">
                            <img class="pull-left img-responsive quote-author-list" src="~/Home/images/portfolio/Taha.JPG">
                            <blockquote>
                                <p>All-Rounder</p>
                                <small>Taha Siddiqui <cite title="Source Title">Gulzar CC</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Meet The Team</h2>
                    <hr>
                    <p>Here you can find us</p>
                </div>
                <div class="gap"></div>

                <div id="meet-the-team" class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="~/images/Khalil copy.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="~/images/Khalil copy.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>Khalil Muhammad Mirza<small class="role muted">CEO/Lead Developer</small></h5>
                                <ul class="nav nav-stacked">
                                    <li>
                                        BS in Computer Science (PAF-KIET)
                                    </li>
                                    <li>
                                        <strong>Expertise: </strong>  Dot net , SQL, My Sql, Node js, React Native, React Js, Angular Js
                                    </li>
                                </ul>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="~/images/Faraz 2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="~/images/Faraz 2.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>Faraz Ahmed Shaikh<small class="role muted">Senior Software Developer</small></h5>
                                <ul class="nav nav-stacked">
                                    <li>
                                        BS in Computer Science (Indus University)
                                    </li>
                                    <li>
                                        <strong>Expertise: </strong>  Dot net ,MS SQL, React Native, React Js, Angular Js, Angular 7
                                    </li>
                                </ul>
                                <a class="btn btn-social btn-facebook" href="https://www.facebook.com/faraz.ahmed879"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="~/images/Bilal 2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="~/images/Bilal 2.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>Muhammad Bilal Moosani<small class="role muted">Web Designer</small></h5>
                                <ul class="nav nav-stacked">
                                    <li>
                                        BS in Computer Science (Indus University)
                                    </li>
                                    <li>
                                        <strong>Expertise: </strong>  Dot net , SQL, My Sql
                                    </li>
                                </ul>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="~/images/Arslan 2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="~/images/Arslan 2.png" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>Muhammad Arsalan<small class="role muted">Software Developer</small></h5>
                                <ul class="nav nav-stacked">
                                    <li>
                                        BS in Computer Science (Iqra University)
                                    </li>
                                    <li>
                                        <strong>Expertise: </strong>  Dot net , SQL, My Sql, React Js, Angular Js
                                    </li>
                                </ul>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--/#meet-the-team-->
                <div class="gap"></div>
                <div class="gap"></div>
            </div>
        </section>

        <section id="testimonial-carousel" class="divider-section">
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">What They Have Been Saying</h2>
                        <hr>
                        <p>Their views about cricket</p>
                        <div class="gap"></div>
                    </div>
                    <div class='col-md-offset-2 col-md-8 fade-up'>
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-responsive" src="~/images/Khalil copy.png" style="width: 100px;height:100px;">
                                            </div>
                                            <div class="col-sm-9">
                                                <p>Cricket is to me, a way to exploring my skills in a term of Score Executive</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-responsive" src="~/images/Faraz 2.png" style="width: 100px;height:100px;">
                                            </div>
                                            <div class="col-sm-9">
                                                <p>There is no difference between cricket and love for me</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-3 text-center">
                                                <img class="img-responsive" src="~/images/Bilal 2.png" style="width: 100px;height:100px;">
                                            </div>
                                            <div class="col-sm-9">
                                                <p>A gun is no more dangerous than a cricket bat in the hands of a madman</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
            </div>
        </section>


        <section id="contact" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Get In Touch</h2>
                    <hr>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4 fade-up">
                        <h3>Contact Information</h3>
                        <p>
                            <span class="icon icon-home"></span>A-15 block-20 Ancholi Karachi<br />
                            <span class="icon icon-phone"></span>+92342-2181946<br />
                            <span class="icon icon-envelop"></span> <a href="#">scoreexec@gmail.com</a> <br />
                            <span class="icon icon-facebook"></span> <a href="#">Friends Bit</a> <br />
                        </p>
                    </div><!-- col -->

                    <div class="col-md-8 fade-up">
                        <h3>Drop Us A Message</h3>
                        <br>
                        <br>
                        <div id="message"></div>
                        <form method="post" action="sendemail.php" id="contactform">
                            <input type="text" name="name" id="name" placeholder="Name" />
                            <input type="text" name="email" id="email" placeholder="Email" />
                            <input type="text" name="website" id="website" placeholder="Website" />
                            <textarea name="comments" id="comments" placeholder="Comments"></textarea>
                            <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit" />
                        </form>
                    </div><!-- col -->
                </div><!-- row -->
                <div class="gap"></div>
            </div>
        </section>
    </div>

    <div id="footer-wrapper">
        <section id="bottom" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 about-us-widget">
                        <h4>Global Coverage</h4>
                        <p>Score Exec is global for all, we are currently market in karachi and planing to move different cities in Pakistan</p>
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4>Company</h4>
                        <div>
                            <ul class="arrow">
                                <li><a href="#">Company Overview</a></li>
                                <li><a href="#">Meet The Team</a></li>
                                <li><a href="#">Our Awesome Partners</a></li>
                                <li><a href="#">Our Services</a></li>
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->
                    @*<div class="col-md-3 col-sm-6">
                            <h4>Latest Articles</h4>
                            <div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="widget-img" src="Home/images/portfolio/folio01.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading"><a href="#">Blog Post A</a></span>
                                        <small class="muted">Posted 14 April 2014</small>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="widget-img" src="Home/images/portfolio/folio02.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading"><a href="#">Blog Post B</a></span>
                                        <small class="muted">Posted 14 April 2014</small>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="col-md-3 col-sm-6">
                        <h4>Come See Us</h4>
                        <address>
                            <strong>House# A-15</strong><br>
                            Ancholi Block 20<br>
                            Karachi, Pakistan<br>
                            <abbr title="Phone"><i class="fa fa-phone"></i></abbr> +92-324-2181946
                        </address>
                    </div> <!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->

        <footer id="footer" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2019 <a title="Premium Themes and Templates">FriendsBit</a>. All Rights Reserved.
                    </div>
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></li><!--#gototop-->
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
    </div>



    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            'use strict';
            jQuery('body').backstretch([
                "Home/images/bg/bg1.jpg",
                "Home/images/bg/bg2.jpg",
                "Home/images/bg/bg3.jpg"
            ], { duration: 5000, fade: 500, centeredY: true });
        });
    </script>
</body>

</html>
@section Scripts{
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 25px;
            width: 40px;
        }
    </style>

}