@model WebApp.ViewModels.HomeScreendto
@*@{
        ViewData["Title"] = "";
    }*@
<div class="container-fluid">
    <div class="row">
        <div class="dl-horizontal">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.Tournaments</h3>
                        <p>Tournaments</p>
                    </div>
                    <div class="icon">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="Tournament" asp-action="Index" class="small-box-footer">
                        Tournaments List <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Teams</h3>
                        <p>Teams</p>
                    </div>
                    <div class="icon">
                        <i class="far fa-flag"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="Teams" asp-action="Index" class="small-box-footer">
                        Teams List <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.Players</h3>
                        <p>Players</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="Players" asp-action="Index" class="small-box-footer">
                        Players List <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Matches</h3>
                        <p>Cricket Match</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-partlysunny"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="Matches" asp-action="Index" class="small-box-footer">
                        Matches List <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Teams</h3>
                        <p>Series</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-apps"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="MatchSeries" asp-action="Index" class="small-box-footer">
                        Match Series List <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.Records+</h3>
                        <p>Records</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-controller="Players" asp-action="AllPlayerStatistics" class="small-box-footer">
                        Statistics <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">New Feed</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        The body of the box
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            @*<div class="col-md-3">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">New Feed</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    The body of the box
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>*@

            <div class="col-md-6">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Last Match Summary</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-inline">
                            <div class="col-md-12">

                                <div class="col-md-4">
                                    @{
                                        if (Model.HomeTeamTeamLogo != null)
                                        {
                                            var base64 = Model.HomeTeamTeamLogo == null || !Model.HomeTeamTeamLogo.Any() ? "" : Convert.ToBase64String(Model.HomeTeamTeamLogo);
                                            <div class="img-responsive" id="Img" style='margin-bottom: 1em; background-size:cover; background-image: url("data:image/png;base64,@base64");'></div>

                                        }
                                        else
                                        {
                                            <span class="label label-warning pull-left"><i class="fas fa-question"></i></span>

                                        }
                                    }
                                </div>
                                <div class="col-md-8">
                                    <strong> @Model.HomeTeam </strong> @Model.HomeTeamScore/@Model.HomeTeamWickets
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="col-md-4">
                                    @{
                                        if (Model.OpponentTeamLogo != null)
                                        {
                                            var base64 = Model.OpponentTeamLogo == null || !Model.OpponentTeamLogo.Any() ? "" : Convert.ToBase64String(Model.OpponentTeamLogo);
                                            <div class="img-responsive" id="Img" style='margin-bottom: 1em; background-size:cover; background-image: url("data:image/png;base64,@base64");'></div>

                                        }
                                        else
                                        {
                                            <span class="label label-warning pull-left"><i class="fas fa-question"></i></span>

                                        }
                                    }
                                </div>
                                <div class="col-md-8">
                                    <strong> @Model.OppponentTeam </strong> @Model.OpponentsTeamScore/@Model.OppenentTeamWickets
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>@Model.Summary</p>
                            </div>

                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <style>

        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 20px;
            width: 25px;
        }
    </style>
}
