<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Score Executive</title>
    <link rel="shortcut icon" href="~/images/Logo.PNG" type="image/x-icon" />
    <link href="~/Home/css/boostrap-wizard.css" rel="stylesheet" />
    <link href="/Home/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Home/css/pe-icons.css" rel="stylesheet">
    <link href="/Home/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Home/css/animate.css" rel="stylesheet">
    <link href="/Home/css/style.css" rel="stylesheet">
    <script src="/Home/js/jquery.js"></script>
    <!--ok-->
    <!--Not Sure-->
    <link rel="stylesheet" href="~/Home/css/Toast.css" />
    <link rel="stylesheet" href="~/Home/font/flaticon.css">
    <link rel="apple-touch-icon" sizes="144x144" href="/Home/images/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Home/images/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Home/images/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/Home/images/ico/apple-touch-icon-57x57.png">
    @RenderSection("styles", false)
</head>
@Html.AntiForgeryToken()
<body style=" font-size: 13px;">
    <div class="wrapper fixed">
        <div id="preloader"></div>
        <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><h1><span class="bounce-in"></span> Score Executive</h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Tournament" asp-action="Index">Tournament</a></li>
                        <li><a asp-controller="Teams" asp-action="Index">Team</a></li>
                        <li><a asp-controller="Players" asp-action="Index">Player</a></li>
                        <li><a asp-controller="MatchSeries" asp-action="Index">Series</a></li>
                        <li><a asp-controller="Matches" asp-action="Index">Match</a></li>
                        <li><a asp-controller="Records" asp-action="Index">Statistics</a></li>
                        @*<li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">Records</span>
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Records" asp-action="Index">Batsman</a></li>
                                    <li><a asp-controller="Records" asp-action="Index">Bowler</a></li>
                                    <li><a asp-controller="Records" asp-action="Index">Most Runs</a></li>
                                    <li><a asp-controller="Records" asp-action="Index">Most Wickets</a></li>
                                    <li><a asp-controller="Records" asp-action="Index">Most Catches</a></li>
                                </ul>
                            </li>*@

                        <li class="dropdown active">


                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs"> @User.GetDisplayName()</span>
                                    @*<img src="~/images/user.png" class="pe-7s-gleam bounce-in" style="width: 10%; height:10%;">*@
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a style="cursor: pointer" id="Logout">Log Out</a></li>
                                    @*<li><a style="cursor: pointer" id="Logout">Log Out</a></li>*@
                                    <li><a asp-controller="RoleManagement" asp-action="Role">Role Management</a></li>
                                </ul>
                            }
                            else
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">User</span>
                                    @*<img src="~/images/user.png" class="pe-7s-gleam bounce-in" style="width: 10%; height:10%;">*@
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Log In</a></li>
                                </ul>
                            }


                        </li>
                        @*<li><span class="search-trigger"><i class="fa fa-search"></i></span></li>*@
                    </ul>
                </div>
            </div>
        </header><!--/header-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper wizard">



            @RenderBody()

        </div>
    </div>

    <script src="~/Home/fastclick/lib/fastclick.js"></script>

    <script src="/Home/js/bootstrap.min.js"></script>
    <script src="/Home/js/plugins.js"></script>
    <script src="/Home/js/jquery.prettyPhoto.js"></script>
    <script src="/Home/js/init.js"></script>

    <script type="text/javascript">var infolinks_pid = 3158006; var infolinks_wsid = 0;</script>
    <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
    @RenderSection("Scripts", required: false)


    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <style>

        #logo {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 55px;
            width: 170px;
        }
    </style>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //jQuery(document).ready(function ($) {
        //    $('.counter').counterUp({
        //        delay: 10,
        //        time: 1000
        //    });
        //});
        let Players = function () {
            //window.location = `Players/Index/teamId/${null}/playerRoleId/${null}/battingStyleId/${null}/bowlingStyleId/${null}/name/${null}/isApi/${false}`;
            window.location = `Players/Index?isApi=false`;
        }

        $(function () {
            $('#Logout').click(function () {
                $.ajax({
                    type: "POST",
                    headers: {
                        'X-CSRF-TOKEN': $("input[name=__RequestVerificationToken]").val()
                    },
                    dataType: "json",
                    url: "/Account/Logout",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        window.location.reload;
                    },
                    fail: function (data) {
                    }
                })



                //fetch('/Account/Logout', {
                //    method: "POST",
                //    credentials: 'same-origin',
                //    headers: header
                //})
                //    .then(response => {
                //        if (response.ok) {
                //            window.location = "/";
                //        }
                //    });
            });
        });
    </script>

</body>
</html>
