@model List<WebApp.ViewModels.MatchScoreDto>

@{
    ViewData["Title"] = "Add a Match Score";
}
<div class="container">
    <div class="col-sm-12">
  
                <div class="wizard-header">
                    <h3 class="wizard-title">
                        Add Match Score
                    </h3>
                </div>
                <div class="container-fluid">
                    <hr />
                    <form asp-action="Save" asp-route-teamId="@ViewBag.teamId">

                        <div class="form-inline">

                            <div class="col-sm-1">

                                <label class="control-label">S.No</label>

                            </div>
                            <div class="col-sm-1">

                                <label class="control-label">Inning</label>

                            </div>

                            <div class="col-sm-4">

                                <label class="control-label">Player Name</label>

                            </div>
                            <div class="col-sm-2">

                                <label class="control-label">How Out</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Bowler</label>
                        </div>

                        @{

                            for (int i = 0; i < Model.Count; i++)
                            {

                                <div class="row">
                                    <input type="hidden" asp-for="@Model[i].MatchId" />
                                    <div class="col-sm-1">
                                        @{
                                            var position = i + 1;
                                            <label>@position</label>
                                            <input readonly="readonly" style="display:none;" value="@position" asp-for="@Model[i].Position" />
                                        }
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="@Model[i].IsPlayedInning" value="true">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <select asp-for="@Model[i].PlayerId" asp-items="ViewBag.PlayerId" placeholder="--Select Player--" class="playerDropDown">
                                            <option value="">--Select Player--</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select asp-for="@Model[i].HowOut" placeholder="--How Out--">
                                            <option value="">--How Out--</option>
                                            <option>Catch</option>
                                            <option>Bowled</option>
                                            <option>Stump</option>
                                            <option>RunOut</option>
                                            <option>Hit Wicket</option>
                                            <option>LBW</option>
                                            <option>Not Out</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <input asp-for="@Model[i].Bowler" type="text" class="form-control">
                                    </div>
                                </div>
                            }
                        }
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
       
    </div>
</div>
<div class="footer">
    <div class="container text-center">
        <button id="BackBtn" class="btn btn-primary btn-xs">Back</button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const globalStates = [];
        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/PlayerScores/Index'
            });
        });
        const openModal = (id) => {
            document.getElementById('Modal_PlayerId').value = document.getElementById(`Grid_${id}__PlayerId`).value;
        };

        $('.playerDropDown')
            .on('change', (event) => {
                const element = event.target;
                if (!element.value)
                    return;
                globalStates.push({
                    value: element.value
                });
                removeValues();
            });

        const removeValues = () => {
            const elements = $('select.playerDropDown');
            for (let index = 0; index < elements.length; index++) {
                const isAdded = _.some(globalStates, {
                    value: elements[index].value
                });
                if (!isAdded) {
                    for (let globalState of globalStates) {
                        //elements[index].selectize.removeValues(globalState.value);
                        $(`#${elements[index].id}`)[0].selectize.removeOption(globalState.value);
                    }                   
                }
            }
        };

    </script>
}

