@model WebApp.ViewModels.PlayerStatisticsdto

@{
    ViewData["Title"] = "Player Profile";
}



<div class="container-fluid">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
            <div class="col-md-4">

                @{ if (Model.PlayerImage != null)
                    {
                        var base64 = (Model.PlayerImage == null || !Model.PlayerImage.Any()) ? "" : Convert.ToBase64String(@Model.PlayerImage);
                        <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");' id="PlayerImg"></div>
                    }
                    else
                    {
                        <div class="img-responsive" style='margin-bottom: 2em; background-size:cover; background-image: url("/images/no-user-profile-picture-whatsapp.jpg");' id="PlayerImg"></div>

                    }
                }

            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">@Html.DisplayFor(model => model.PlayerName)</h3>
            <h5 class="widget-user-desc">@Html.DisplayFor(model => model.TeamName)</h5>

        </div>
        <br />
        <div class="col-md-6">

            <dl class="dl-horizontal">

                <dt>
                    Playing Role
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>
                <dt>
                    Batting Style
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.BattingStyle)
                </dd>
                <dt>
                    Bowling Style
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.BowlingStyle)
                </dd>
                <dt>
                    Born
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.DOB)
                </dd>
                <dt>
                    Major Team
                </dt>
                <dd style="width: 100%">
                    @Html.DisplayFor(model => model.TeamName)
                </dd>
            </dl>
        </div>
        <div class="box-footer">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <div class="col-md-4">
                        <h3>Batting</h3>
                        <dl class="dl-horizontal table-bordered">
                            <dt>
                                Matches
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalMatch)
                            </dd>
                            <dt>
                                Innings
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalInnings)
                            </dd>
                            <dt>
                                Total Runs
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalBatRuns)
                            </dd>
                            <dt>
                                Balls Faced
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalBatBalls)
                            </dd>
                            <dt>
                                50s
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.NumberOf50s)
                            </dd>
                            <dt>
                                100s
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.NumberOf100s)
                            </dd>
                            <dt>
                                Avg
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BattingAverage)
                            </dd>
                            <dt>
                                Strike Rate
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.StrikeRate)
                            </dd>
                            <dt>
                                Best Score
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BestScore)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <h3>Bowling</h3>
                        <dl class="dl-horizontal table-bordered">
                            <dt>
                                Matches
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalMatch)
                            </dd>
                            <dt>
                                Overs
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalOvers)
                            </dd>
                            <dt>
                                Wickes
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalWickets)
                            </dd>
                            <dt>
                                Runs
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalBallRuns)
                            </dd>
                            <dt>
                                5Ws
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FiveWickets)
                            </dd>
                            <dt>
                                Maiden
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalMaidens)
                            </dd>
                            <dt>
                                Avg
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BowlingAvg)
                            </dd>
                            <dt>
                                Economy
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Economy)
                            </dd>

                            <dt>
                                Best
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BestBowling)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <h3>Fielding</h3>
                        <dl class="dl-horizontal table-bordered">
                            <dt>
                                Matches
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalMatch)
                            </dd>
                            <dt>
                                Catches
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalCatches)
                            </dd>
                            <dt>
                                Stumps
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalStumps)
                            </dd>
                            <dt>
                                Run Out
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TotalRunOuts)
                            </dd>

                        </dl>
                    </div>


                </form>
            </nav>

        </div>
    </div>
    <!-- /.widget-user -->
</div>




@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" />
    <script>

    </script>
    <style>

        dt {
            text-align: left !important;
            margin-left: 2em;
        }

        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 140px;
            border: 1px solid #bbb;
        }
    </style>
}
