@model PaginatedList<WebApp.ViewModels.MatchScheduledto>

@{
    ViewData["Title"] = "Match Schedule";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Teams" asp-action="Index">Team</a></li>
        <li><a>Schedule</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="form-group">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel-body">
                <form class="form-inline" role="form" id="Filters">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <label>Day</label>
                            <select id="day" name="day" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <input type="hidden" name="TeamId" value="@ViewBag.TeamId" id="TeamId" />
                        <div class="col-xs-4 col-md-4">
                            <label>Month</label>
                            <select id="month" name="month" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <label>Year</label>
                            <select id="year" name="year" asp-items="@ViewBag.Year" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class=" col-xs-6 col-md-6">
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary filter-col">
                                <span><i class="fas fa-search"></i></span> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul class="list-inline">
        <li>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <a data-toggle="modal" data-target="#CreateSchedule" class="btn btn-primary">Add</a>
                </div>

            }
        </li>
        <li>
            <button class="btn btn-box-tool" data-toggle="collapse" data-target="#filter-panel">
                Advanced Search
            </button>
        </li>
    </ul>

    <div class="table-responsive">
        <table id="TeamTable" class="table table-bordered table-striped">
            <thead style="background-color: maroon; color: white">
                <tr>
                    <th>
                        Ground
                    </th>
                    <th>
                        Opponent Team
                    </th>
                    <th>
                        Day
                    </th>
                    <th>
                        Month
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.GroundName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpponentTeam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Month)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>

                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a data-placement="top" data-toggle="tooltip" title="Edit Mode"><i data-toggle="modal" data-target="#CreateSchedule" onclick="ScheduleEdit(@item.MatchScheduleId)" class="fas fa-edit"></i></a>
                                <a data-placement="top" data-toggle="tooltip" style="cursor:pointer" title="Delete"><i data-toggle="modal" data-target="#DeleteModal" onclick="Delete(@item.MatchScheduleId)" class="fas fa-trash-alt"></i></a>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var prev1Disabled = !Model.HasPreviousPage ? "hide" : "";
            var prev2Disabled = !Model.HasPreviousTwo ? "hide" : "";
            var prev3Disabled = !Model.HasPreviousThree ? "hide" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            var next1Disabled = !Model.HasNextPage ? "hide" : "";
            var next2Disabled = !Model.HasNext2 ? "hide" : "";
            var next3Disabled = !Model.HasNext3 ? "hide" : "";
        }
    </div>
    <nav class="navbar navbar-light bg-light">

        <form class="form-inline">
            <div class="col-md-12">
                <span class="fa-1x">
                    <strong class="text-primary">Showing @Model.PageStartValue to @Model.PageEndValue of @Model.TotalCount entries</strong>
                </span>
                <span class="fa-1x pull-right">
                    <strong class="text-primary">Page # @Model.PageIndex of @Model.TotalPages pages</strong>
                </span>
            </div>
            <div class="row pull-right">
                <a data-placement="top" data-toggle="tooltip" title="First Page" asp-action="Index" class="btn btn-primary @prevDisabled"
                   asp-route-page="@(1)">
                    First
                </a>

                <a asp-action="Index" class="btn btn-default @prev3Disabled"
                   asp-route-page="@(Model.PageIndex - 3)">@(Model.PageIndex - 3)</a>
                <a asp-action="Index" class="btn btn-default @prev2Disabled"
                   asp-route-page="@(Model.PageIndex - 2)">@(Model.PageIndex - 2)</a>
                <a asp-action="Index" class="btn btn-default @prev1Disabled"
                   asp-route-page="@(Model.PageIndex - 1)">@(Model.PageIndex - 1)</a>

                <a asp-action="Index" class="btn btn-primary disabled"
                   asp-route-page="@(Model.PageIndex)">@(Model.PageIndex)</a>

                <a asp-action="Index" class="btn btn-default @next1Disabled"
                   asp-route-page="@(Model.PageIndex + 1)">@(Model.PageIndex + 1)</a>
                <a asp-action="Index" class="btn btn-default @next2Disabled"
                   asp-route-page="@(Model.PageIndex + 2)">@(Model.PageIndex + 2)</a>
                <a asp-action="Index" class="btn btn-default @next3Disabled"
                   asp-route-page="@(Model.PageIndex + 3)">@(Model.PageIndex + 3)</a>

                <a data-placement="top" data-toggle="tooltip" title="Last Page" asp-action="Index"
                   asp-route-page="@(Model.TotalPages)"
                   class="btn btn-primary @nextDisabled">
                    Last
                </a>

            </div>

        </form>
    </nav>
</div>
<div id="snackbar"></div>
<div id="CreateSchedule" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-blue-active">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Match Schedule</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="@ViewBag.TeamId" id="TeamId" />
                <input type="hidden" id="MatchScheduleId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Ground Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input id="GroundNameM" required class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Opponent Team</label>
                            <input id="OpponentTeamM" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Day</label>
                        <select id="DayM" name="DayM" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label>Month</label>
                            <select id="MonthM" name="MonthM" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label class="control-label">Year</label>
                            <input id="YearM" type="number" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="wizard-footer">
                    <div class="pull-left">
                        <input type='button' id="Cancelbtn" class='btn btn-previous btn-default' data-dismiss="modal" value='Cancel' />
                        <input id="Addbtn" type="button" class='btn btn-finish btn-fill btn-primary btn-wd' data-dismiss="modal" value='Save' />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="DeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button id="closeBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="MatchScheduleId" />
                <h3>Are you sure you want to delete this?</h3>

                <div class="wizard-footer">
                    <div class="pull-right">

                    </div>
                    <div class="pull-left">
                        <input type='button' class='btn btn-previous btn-fill btn-primary btn-wd' data-dismiss="modal" value='Cancel' />
                        <input id="deleteBtn" type="button" class='btn btn-finish btn-fill btn-primary btn-wd' data-dismiss="modal" value='Delete' />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <style>
        td {
            text-align: center !important;
        }

        th {
            text-align: center !important;
        }
    </style>
    <script>

        $(document).ready(function () {
            $('#TeamTable').DataTable({
                "paging": false,
                dom: 'Bfrt',
                "order": [],
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        className: 'btn btn-primary'
                        //orientation: 'landscape',
                        //pageSize: 'LEGAL'
                    }
                ]
            });
        });

        function Delete(MatchScheduleId) {
            document.getElementById("MatchScheduleId").value = MatchScheduleId;
        }
        $(function () {
            $('#Cancelbtn').click(function () {
                clearModal();
            });
        });

        $(function () {
            $('#closeBtn').click(function () {
                clearModal();
            });
        });

        $("#deleteBtn")
            .off()
            .on("click", async () => await DeleteData());

        const DeleteData = async () => {
            const matchScheduleId = document.getElementById('MatchScheduleId').value;
            const model = {
                matchScheduleId: Number(matchScheduleId),
            };
            var header = new Headers();
            header.append("content-type", "application/json");

            const response = await fetch(`/Schedule/DeleteConfirmed?matchScheduleId=${matchScheduleId}`, {
                method: "POST",
                body: JSON.stringify(model),
                credentials: 'same-origin',
                headers: header
            });

            if (response.ok) {
                var data = "Record is deleted Successfully";
                myFunction(data);
                window.location.reload();
                return;
            } else {
                var data = "Record could not be deleted";
                myFunction(data);
            }
        };

        function clearModal() {
            document.getElementById("GroundNameM").value = '';
            document.getElementById("OpponentTeamM").value = '';
            $("#DayM").val('').trigger('change');
            $("#MonthM").val('').trigger('change');
            document.getElementById("YearM").value = '';
        }

        //Toast
        function myFunction(data) {
            var snackBar = document.getElementById('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }

        //Add Schedule Modal
        const postData = async () => {
            const GroundName = document.getElementById('GroundNameM').value;
            const OpponentTeam = document.getElementById('OpponentTeamM').value;
            const Day = document.getElementById('DayM').value;
            const Month = document.getElementById('MonthM').value;
            const Year = document.getElementById('YearM').value;
            const TeamId = document.getElementById('TeamId').value;
            const MatchScheduleId = document.getElementById('MatchScheduleId').value;
            const model = {
                Day: Number(Day),
                Year: Number(Year),
                GroundName: GroundName,
                OpponentTeam: OpponentTeam,
                Month: Month,
                TeamId: TeamId,
                MatchScheduleId: MatchScheduleId || 0,
            };
            var header = new Headers();
            header.append("content-type", "application/json");

            const response = await fetch('/Schedule/CreateSchedule', {
                method: "POST",
                body: JSON.stringify(model),
                credentials: 'same-origin',
                headers: header
            });

            if (response.ok) {
                data = "Record is added successfully"
                myFunction(data);
                window.location.reload();
                return;
            } else {
                data = "Record could not be added"
                myFunction(data);
            }
        };

        $("#Addbtn")
            .off()
            .on("click", async () => await postData());

        //Get Schedule/Edit
        function ScheduleEdit(matchScheduleId) {

            var header = new Headers();
            header.append("content-type", "application/json");

            fetch(`/Schedule/GetEdit?matchScheduleId=${matchScheduleId}`, {
                credentials: 'same-origin',
                headers: header
            })
                .then(response => {
                    if (response.ok) {
                        response.json()
                            .then(json => {
                                document.getElementById("GroundNameM").value = json.groundName;
                                document.getElementById("OpponentTeamM").value = json.opponentTeam;
                                $("#DayM").val(json.day).trigger('change');
                                $("#MonthM").val(json.month).trigger('change');
                                document.getElementById("YearM").value = json.year;
                                document.getElementById("TeamId").value = json.teamId;
                                document.getElementById("MatchScheduleId").value = json.matchScheduleId;
                            })
                            .catch(err => {
                                console.error(err);
                            })
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        }
        //Select2
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
    <style>

        #filter-panel {
            border: 1px solid #bbb;
        }
    </style>

}
